.highlight .nc,
.highlight .nv,
.highlight .nt,
.highlight .err + .nt,
.highlight .s2 + .err,
.highlight .k + .err,
.highlight .nt + .err,
.highlight .nt + .na,
.highlight .si {
  color: #eb2136; }
.highlight .na {
  color: #eb2136; }
.highlight .kt,
.highlight .mi,
.highlight .no,
.highlight .nb {
  color: #4e9ae6; }
.highlight .s,
.highlight .s2,
.highlight .si,
.highlight .si + .nv {
  color: #4e9ae6; }
.highlight .nf {
  color: #eb2136; }
.highlight .k,
.highlight .scss .nt + .nt {
  color: #eb2136; }
.highlight .nn,
.highlight .m,
.highlight .mh {
  color: #4e9ae6; }
.highlight .c {
  color: #b3b3b3; }
