.highlight .nc,
.highlight .nv,
.highlight .nt,
.highlight .err + .nt,
.highlight .s2 + .err,
.highlight .k + .err,
.highlight .nt + .err,
.highlight .nt + .na,
.highlight .si {
  color: #d3ae69; }
.highlight .na {
  color: #c55a4d; }
.highlight .kt,
.highlight .mi,
.highlight .no,
.highlight .nb {
  color: #6ca6ce; }
.highlight .s,
.highlight .s2,
.highlight .si,
.highlight .si + .nv {
  color: #86c797; }
.highlight .nf {
  color: #da865a; }
.highlight .k,
.highlight .scss .nt + .nt {
  color: #c55a4d; }
.highlight .nn,
.highlight .m,
.highlight .mh {
  color: #6ca6ce; }
.highlight .c {
  color: #b3b3b3; }